<section class="inventory-section">
    <app-search-bar [debouncingTime]="600" [suggestionValues]="currentSuggestionValues"
        (searchValue)="searchByValue($event)" (suggestionQueryString)="fetchSuggestion($event)"
        (suggestionSelected)="suggestionSelected($event)"></app-search-bar>
    <div class="d-flex reload-filter-action">
        <div class="btn-custom" (click)="addItem()">Add</div>
        <div class="d-flex">
            <img [ngClass]="{'reload-clicked': reloadTheUI}" class="reload-img" src="assets/images/reload.png"
                alt="reload the list" (click)="reloadTheList()" />
            <app-filter [customFilterConfig]="customFilterConfig" (filterValue)="filterAction($event)"></app-filter>
        </div>
    </div>

    <div class="inventory-item-wrapper d-flex">
        <div class="inventory-item card-container" *ngFor="let item of itemList">
            <div class="card" (click)="showItemDetail(item)">
                <div class="inventory-img">
                    <img *ngIf="item.imgUrl" src="{{item.imgUrl}}">
                    <img *ngIf="!item.imgUrl" src="assets/images/inventory-item.png">
                </div>
                <div class="inventory-title"><span class="item-heading">Item name :</span> {{item.name}}</div>
                <div class="inventory-stock-counter"><span class="item-heading">Total items in stock :</span>
                    {{item.totalItemStock}}</div>
                <div class="inventory-item-status"><span class="item-heading">Item Status :</span> {{item.itemStatus}}</div>
                <div class="inventory-created-on"><span class="item-heading">Created On :</span> {{item.createdOn |
                    date: 'dd/MM/yyyy'}}</div>
                <div class="inventory-item-price"><span class="item-heading">Item Price :</span> {{item.price}}$</div>
                <div class="hover-action">
                    <div class="btn-action" (click)="editItem(item);$event.stopPropagation()">Edit</div>
                    <div class="divider"></div>
                    <div class="btn-action" (click)="deleteItem(item);$event.stopPropagation()">Delete</div>
                </div>
            </div>
        </div>
        <div *ngIf="itemList.length === 0 && apiInit" class="no-result-found">
            <img class="no-result-image-img" src="assets/images/no-result-found.png"
                alt="no result found" />
            <div class="label">No Result Found</div>
        </div>
    </div>

</section>
<app-pagination *ngIf="itemList && itemList.length" [count]="totalItemCount" [recordsPerPage]="recordsPerPage" (onPageChange)="displayActivePage($event)"></app-pagination>
<app-overlay *ngIf="openOverlayUI" (closeOverlay)="closeOverlay()">
    <app-inventory-add-item [implementationInfo]="currentAction" [itemInfo]="selectedItem" (actionEmition)="overlayAction()"></app-inventory-add-item>
</app-overlay>